openai
redis
pydantic
cryptography>=46.0.3
python-dotenv>=0.9.9
ipykernel>=7.1.0
ipython>=8.37.0
ipywidgets>=8.1.8
jiwer>=4.0.0
langchain>=1.1.0
langchain-core>=1.1.0
librosa>=0.11.0
matplotlib>=3.10.7
noisereduce>=3.0.3
ollama>=0.6.1
pandas>=2.3.3
prometheus-client>=0.23.1
pyarabic>=0.6.15
pydantic-settings>=2.12.0
pydub>=0.25.1
seaborn>=0.13.2
sounddevice>=0.5.3
soundfile>=0.13.1
torch>=2.9.1
torchaudio>=2.9.1
transformers>=4.57.1
webrtcvad>=2.0.10
openai
redis
pydantic
