python-dotenv==1.0.1
pydantic==2.10.3
pydantic-settings==2.6.1
sqlalchemy==2.0.36
asyncpg==0.30.0
greenlet==3.1.1
langchain-core==0.3.28
langsmith==0.2.6
ollama==0.4.4
pandas==2.2.3
numpy==2.2.0
torch==2.5.1
torchaudio==2.5.1
transformers==4.47.1
accelerate==1.2.1
playwright==1.49.1